<app-navbar></app-navbar>

<section id="events" class="py-16 text-center text-white ml-20 mr-20">
  <div class="container mx-auto px-4">
    <h1 class="text-4xl font-bold mb-8">Events</h1>

    <!-- Search and Filter -->
    <div class="flex justify-center items-center mb-8">
      <div class="relative mr-4">
        <input type="text" 
               placeholder="Search events..." 
               class="py-2 px-4 bg-gray-700 text-white rounded-full focus:outline-none" 
               [(ngModel)]="searchKeyword" 
               (input)="onSearchChange($event)">
        <span class="absolute top-0 right-0 mt-2 mr-4 text-gray-500">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l-6-6m0 0l6-6m-6 6h16" />
          </svg>
        </span>
      </div>
      <div class="relative">
        <select class="py-2 px-8 bg-gray-700 w-fit text-white rounded-full focus:outline-none" 
        [(ngModel)]="selectedCategoryName" 
        (change)="onCategoryChange($event)">
  <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
</select>
      </div>
    </div>

    <!-- Event Cards -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-3 sm:gap-4 lg:gap-6">
      <div *ngFor="let event of paginatedEvents" class="bg-gray-800 rounded-lg overflow-hidden shadow-lg flex flex-col h-[28rem] sm:h-[28rem] lg:h-[28rem]">
        <div class="h-1/2 overflow-hidden">
          <img [src]="event.posterUrl" alt="Event Poster" class="w-full h-full object-cover object-top">
        </div>
        <div class="p-3 sm:p-4 flex flex-col justify-between flex-grow">
          <div>
            <h3 class="text-lg sm:text-xl font-bold mb-2">{{ event.title }}</h3>
            <p class="text-xs sm:text-sm mb-1">Ticket Pricing: {{ event.tickets[0].price }} - {{ event.tickets[event.tickets.length - 1].price }}</p>
            <p class="text-xs sm:text-sm mb-1">Category: {{ event.category.name }}</p>
            <p class="text-xs sm:text-sm mb-2">Tickets Remaining:<br> VIP: {{ event.tickets[0].quantity }}<br> Regular: {{ event.tickets[event.tickets.length - 1].quantity }}</p>
          </div>
          <div class="flex flex-col space-y-2">
            <button class="text-white text-xs sm:text-sm flex items-center justify-center" (click)="event.inWishlist ? removeFromWishlist(event) : addToWishlist(event)">
              <svg *ngIf="event.inWishlist" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 sm:h-5 sm:w-5 text-red-500 mr-1" fill="currentColor" viewBox="0 0 20 20">
                <path fill-rule="evenodd" d="M10 3.72l-.72-.71a5.25 5.25 0 0 0-7.43 7.42L10 17.11l8.15-6.7a5.25 5.25 0 0 0-7.43-7.42l-.72.71z" clip-rule="evenodd" />
              </svg>
              <svg *ngIf="!event.inWishlist" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 sm:h-5 sm:w-5 text-white mr-1" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
              </svg>
              {{ event.inWishlist ? 'Remove from Wishlist' : 'Add to Wishlist' }}
            </button>
            <div class="flex justify-between">
              <button [routerLink]="['/eventdetails', event.id]" class="bg-black text-white text-xs sm:text-sm font-semibold py-1 sm:py-2 px-2 sm:px-3 transition duration-300 hover:bg-gray-700 rounded">
                See Details
              </button>
              <button [routerLink]="['/book-now', event.id]" class="bg-green-600 text-white text-xs sm:text-sm font-semibold py-1 sm:py-2 px-2 sm:px-3 transition duration-300 hover:bg-green-700 rounded">
                Book Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div class="mt-8">
      <button (click)="prevPage()" class="bg-gray-600 text-white font-semibold py-2 px-4 transition duration-300 hover:bg-gray-700" [disabled]="currentPage === 1">Previous</button>
      <span class="mx-4">Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="nextPage()" class="bg-gray-600 text-white font-semibold py-2 px-4 transition duration-300 hover:bg-gray-700" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
</section>