<section id="events" class="py-16 text-center text-white">
  <div class="container mx-auto px-4">
    <h1 class="text-4xl font-bold mb-8">Events</h1>

    <!-- Search and Filter -->
    <div class="flex justify-center items-center mb-8">
      <div class="relative mr-4">
        <input type="text" placeholder="Search events..." class="py-2 px-4 bg-gray-700 text-white rounded-full focus:outline-none">
        <span class="absolute top-0 right-0 mt-2 mr-4 text-gray-500">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 20l-6-6m0 0l6-6m-6 6h16" />
          </svg>
        </span>
      </div>
      <div class="relative">
        <select class="py-2 px-8 bg-gray-700 w-fit text-white rounded-full focus:outline-none">
          <option>All Categories</option>
          <option>Music</option>
          <option>Sports</option>
          <option>Theatre</option>
          <!-- Add more categories as needed -->
        </select>
      </div>
    </div>

    <!-- Event Cards -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <div *ngFor="let event of paginatedEvents" class="bg-gray-800 rounded-lg overflow-hidden shadow-lg p-6">
        <img [src]="event.img" alt="Event Poster" class="w-full h-48 object-contain mb-4">
        <h3 class="text-2xl font-bold mb-2">{{ event.name }}</h3>
        <p class="text-lg mb-2">Ticket Pricing: {{ event.pricing }}</p>
        <p class="text-lg mb-2">Category: {{ event.category }}</p>
        <p class="text-lg mb-4">Tickets Remaining: {{ event.tickets }}</p>
        <div class="flex justify-between items-center">
          <button class="text-white flex items-center" (click)="event.inWishlist ? removeFromWishlist(event) : addToWishlist(event)">
            <svg *ngIf="event.inWishlist" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500 mr-1" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M10 3.72l-.72-.71a5.25 5.25 0 0 0-7.43 7.42L10 17.11l8.15-6.7a5.25 5.25 0 0 0-7.43-7.42l-.72.71z" clip-rule="evenodd" />
            </svg>
            <svg *ngIf="!event.inWishlist" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-white mr-1" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
            </svg>
            Add to Wishlist
          </button>
          <button [routerLink]="['/eventdetails', event.id]" class="bg-black text-white font-semibold py-2 px-4 transition duration-300 hover:bg-gray-700">
            See Details
          </button>
          <button class="bg-green-600 text-white font-semibold py-2 px-4 transition duration-300 hover:bg-green-700">
            Book Now
          </button>
        </div>
      </div>
    </div>

    

    <!-- Pagination -->
    <div class="mt-8">
      <button (click)="prevPage()" class="bg-gray-600 text-white font-semibold py-2 px-4 transition duration-300 hover:bg-gray-700" [disabled]="currentPage === 1">Previous</button>
      <span class="mx-4">Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="nextPage()" class="bg-gray-600 text-white font-semibold py-2 px-4 transition duration-300 hover:bg-gray-700" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
</section>