<footer class="bg-black text-white ">
    <div class="container mx-auto px-6 py-8">
      <div class="flex flex-wrap">
        <div class="w-full md:w-1/4 text-center md:text-left">
          <h5 class="uppercase mb-6 font-bold">Company</h5>
          <ul class="mb-4">
            <li class="mt-2">
                <a routerLink="/home" class="hover:underline">Home</a>
              </li>
            <li class="mt-2">
              <a routerLink="/about" class="hover:underline">About Us</a>
            </li>
            <li class="mt-2">
              <a routerLink="/contact" class="hover:underline">Contact</a>
            </li>
            
          </ul>
        </div>
        <div class="w-full md:w-1/4 text-center md:text-left">
          <h5 class="uppercase mb-6 font-bold">Legal</h5>
          <ul class="mb-4">
            <li class="mt-2">
              <a href="#" class="hover:underline">Terms of Use</a>
            </li>
            <li class="mt-2">
              <a href="#" class="hover:underline">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <div class="w-full md:w-1/4 text-center md:text-left">
          <h5 class="uppercase mb-6 font-bold">Social</h5>
          <ul class="mb-4">
            <li class="mt-2">
              <a href="#" class="hover:underline">Facebook</a>
            </li>
            <li class="mt-2">
              <a href="#" class="hover:underline">Instagram</a>
            </li>
            <li class="mt-2">
              <a href="#" class="hover:underline">Twitter</a>
            </li>
          </ul>
        </div>
        <div class="w-full md:w-1/4 text-center md:text-left">
          <h5 class="uppercase mb-6 font-bold">Company</h5>
          <ul class="mb-4">
            <li class="mt-2">
              <a href="#" class="hover:underline">Blog</a>
            </li>
            <li class="mt-2">
              <a href="#" class="hover:underline">FAQ</a>
            </li>
            <li class="mt-2">
              <a href="#" class="hover:underline">Support</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container mx-auto px-6">
      <div class="mt-16 border-t-2 border-gray-300 flex flex-col items-center">
        <div class="sm:w-2/3 text-center py-6">
          <p class="text-sm text-white font-bold mb-2">
            © {{ currentYear }} PLAN-A. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </footer>